.App {
  text-align: center;
}

.weather-icon {
  width: 100px;
} 

.input {
  padding: 6px 12px;
}

.btn-primary {
  padding: 6px 12px;
  margin: 8px 0px 0px;
  color: white;
  background-color: lightcoral;
  border-color: lightcoral;
}
